@charset "UTF-8";
/* noticeList.css */	
.noticeContainer {
	width: 943px;
	height:100%;
	margin:0 auto;
	padding: 0;
}

#notice>li {
	list-style: none;
	background: black;
	color: white;
	width: 100px;
	height: 30px;
	border: 2px solid black;
	text-align: center;
	padding-top: 5px;
	font-weight: bold;
}

#notice {
	margin: 0;
	padding: 0;
}

table {
	text-align: center;
	border-collapse: collapse;
}

.list-table th{
	text-align:center;
	padding-left: 10px;
}

.table-wrapper {
	border: 2px solid black;
	padding-left: 15px;
	padding-right: 15px;
}


.writeBtn{
	display:block;
	width:90px;
	
	color: #4C4C4E;
	font-size: 20px;
	position : relative;
	left:800px;
	top : 20px;
	
}

.writeBtn:hover{
	color: white;
	background: black;
}

.content {
	color: black;
	font-size: 15px;
}

.content:hover{
	text-decoration: none;
	color: #595959;
	font-weight: bold;
}
	
/* noticeUpdate.css */


.view-table th{
	text-align:center;
	padding-left: 10px;
	width: 200px;
	
}

.inputText{
	font-size: 15px;
	text-align: center;
	outline: none;
	border: none;
	background: none;
	border-bottom: 1px dashed #888888;	
	width: 60%;
	
}
.table>thead>tr>th{
	border-bottom: none;
}
/* noticeView.css */

.view-table th{
	text-align:center;
	padding-left: 10px;
	width: 200px;
}


.notice-view-btn>a{
	display: block;
	width: 70px;
	height: 30px;
	margin-left: 5px;
	float: right;
}
.noticeContents{
	margin: 0 auto;
	width:90%;
}

/* noticeWrite.css */


.write-table th{
	text-align:center;
	padding-left: 10px;
	width: 200px;
	
}

.notice-btn>a{
	display: block;
	width: 70px;
	height: 30px;
	margin-left: 5px;
	float: right;
	border: 1px solid #d9d9d9;
	color: white;
	background: #444444;
}
.notice-btn>a:hover{
	border: 1px solid #d9d9d9;
	color: white;
	background: #888888;						
}
