@charset "UTF-8";
/* header.css */
/* header width : 1150px */
/*  .header *{
	border : 1px solid red;
}  */

.header-left {
	padding-left: 50px;
	width: 230px;
	height: 100px;
	float: left;
}

.header-center {
	width: 575px;
	height: 100px;
	float: left;
}

.header-right {
	float: left;
	width: 345px;
	height: 100px;
}

.header-menu {
	width: 345px;
	height: 50px;
	padding-left: 20px;
	padding-top: 10px;
}

.header-search {
	width: 345px;
	height: 50px;
	padding-left: 120px;
	position: relative;
}

.header-menu-bar {
	position: relative;
	left: 30px;
	width: 60%;
	padding: 0;
	margin-left: 50px;
}

.header-menu-bar>li {
	padding-right: 5px;
	margin-left: 5px;
	text-align: right;
	list-style-type: none;
	float: right;
}

.header-menu-bar a {
	text-align: right;
	text-decoration: none;
	color: black;
	font-size: 13px;
}

.header-menu-bar>li:hover a {
	color: navy;
	text-decoration: none;
	font-weight: bold;
}

.searchBar {
	border: none;
	border-bottom: 2px solid black;
	outline: none;
	background: none;
	position: absolute;
	top: 9px;
}

#cart-img, #cart-img>img {
	display: block;
	float: left;
}

#cart-img {
	margin-left: 5px;
	margin-top: 3px;
}

#searchIcon {
	position: absolute;
	left: 280px;
}