.slider__item {
	height: 500px;
	width: 100%;
	display: none;
	justify-content: center;
	align-items: center;
	text-align: center; color : black;
	transition: all 0.5s ease-in-out;
	transform: scale(0.9);
	color: black;
}

.showing {
	display: block;
}

.mainContent-product {
	display: flex;
	justify-content: space-between;
	text-align: center;
	align-items: center;
}

/* .mainContent-product > div{
	width: 100%;
	height: 120px;
} */