.tab4-customer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: relative;
}

.tab4-customer > .customer-title {
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 15px 25px;
  height: 50px;
  font-size: 23px;
}

.customer-search {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
  margin-top: 10px;
  padding-top: 25px;
}

.customer-search > .search-top,
.customer-search > .search-bottom {
  display: flex;
  flex-wrap: wrap;
  height: 55px;
  min-width: 1000px;
}

.customer-search > .search-top > *,
.customer-search > .search-bottom > * {
  margin: 15px 35px;
}

.customer-search > .bottom-btn {
  text-align: center;
  height: 30px;
  margin-bottom: 15px;
}

.customer-search > .bottom-btn > button {
  cursor: pointer;
  border: 1px solid #888888;
  background-color: #bcbcbc;
  border-radius: 5px;
  width: 100px;
  height: 35px;
}

.search-top > .top-select,
.search-bottom > .bottom-select,
.search-top > .top-select > select,
.search-bottom > .bottom-select > select {
  cursor: pointer;
  height: 28px;
  width: 115px;
}

.search-top > .top-date-select > button {
  cursor: pointer;
  height: 28px;
  width: 70px;
}

.customer-bottom {
  margin-top: 10px;
  height: 440px;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
}

.customer-bottom > .bottom-title {
  border-bottom: 1px solid #cdcdcd;
  padding: 15px 35px;
}

.bottom-list > .list-title {
  border: 1px solid #cdcdcd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.bottom-list > .list-content {
  border: 1px solid #cdcdcd;
  border-left: 0;
  border-right: 0;
  margin-top: 0;
  padding-top: 0;
}

.bottom-list > .list-title {
  margin: 0;
  padding: 0;
}

.bottom-list > .list-title > table,
.bottom-list > .list-content > table {
  text-align: center;
  width: 100%;
}

.customer-bottom > .bottom-list > .list-title td,
.customer-bottom > .bottom-list > .list-content td {
  max-width: 20%;
  max-width: 20%;
  height: 40px;
  line-height: 40px;
}

.bottom-list > .list-content {
  height: 343px;
  overflow-y: auto;
}

.search-bottom > .bottom-input > input {
  height: 19px;
}
