.tab5-order {
  width: 100%;
  height: 100%;
}

.tab5-order > .order-top > .top-title {
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 15px 25px;
  height: 50px;
  font-size: 23px;
}

.tab5-order > .order-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
  min-width: 1000px;
  height: 55px;
  margin-top: 10px;
  padding-top: 25px;
  padding: 10px 100px;
}

.tab5-order > .order-search {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 35px;
  margin-top: 10px;
  padding-bottom: 0;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
  height: 145px;
}

.order-search > .search-top,
.order-search > .search-bottom {
  display: flex;
}

.order-search > .search-top > div,
.order-search > .search-bottom > div {
  margin-right: 70px;
}

.order-search > .search-btn {
  display: flex;
  justify-content: center;
}

.order-search > .search-btn > button {
  cursor: pointer;
  border: 1px solid #888888;
  background-color: #bcbcbc;
  border-radius: 5px;
  width: 100px;
  height: 35px;
}

.order-bottom {
  margin-top: 10px;
  height: 440px;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
}

.order-bottom > .bottom-title {
  border-bottom: 1px solid #cdcdcd;
  padding: 15px 35px;
}

.order-view > div {
  font-size: 18px;
}

.order-view a {
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  color: #f43142;
}

.order-bottom > .bottom-list > .list-title td,
.order-bottom > .bottom-list > .list-content > table td {
  width: 250px;
  height: 40px;
  line-height: 40px;
}

.order-bottom > .bottom-list > .list-title > table td:first-child,
.order-bottom > .bottom-list > .list-content > table td:first-child {
  width: 100px;
}

.order-bottom > .bottom-list > .list-content > table td {
  height: 40px;
  line-height: 40px;
}

.order-bottom > .bottom-list > .list-content > table tr {
  border-bottom: 0.1px solid #dedede;
}

.order-bottom > .bottom-list > .list-content > table button {
  cursor: pointer;
  border: 0;
  border-radius: 10px;
  height: 30px;
  width: 100px;
}
.order-search > .search-btn {
  padding-bottom: 10px;
}

.bottom-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.o1 {
  /*신규주문*/
  color: #ffffff;
  background-color: #f43142;
}

.o0 {
  /*주문취소요청*/
  color: #ffffff;
  background-color: #0b83e6;
}

.oc,
.o7 {
  /*주문취소완료*/
  /*반품완료*/
  color: #000000;
  background-color: #bcbcbc;
}

.o2 {
  /*배송준비중*/
  color: #ffffff;
  background-color: #fc7b04;
}

.o3 {
  /*배송중*/
  color: #000000;
  background-color: #e7da20;
}

.o4 {
  /*배송완료*/
  color: #ffffff;
  background-color: #1fd045;
}

.o5 {
  /*반품신청*/
  color: #ffffff;
  background-color: #000000;
}

.o6 {
  /*반품중*/
  color: #ffffff;
  background-color: #bb1389;
}
