.tab8-title {
  display: flex;
  align-items: center;
  height: 50px;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
  padding: 15px 25px;
  font-size: 24px;
}

#tab-8 > .tab8-search {
  margin-top: 10px;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
  height: 100px;
  display: flex;
  flex-direction: column;
  padding: 25px 35px;
}

.tab8-search > .search-top,
.tab8-search > .search-bottom {
  display: flex;
  line-height: 55px;
  min-width: 750px;
}

.tab8-search > .search-top > .top-select,
.tab8-search > .search-bottom > .bottom-select {
  margin-left: 67px;
}

.tab8-search > .search-top > .top-btn > button {
  cursor: pointer;
  width: 70px;
  height: 28px;
}

.tab8-search > .search-top > .top-btn,
.tab8-search > .search-bottom > .bottom-input {
  margin-left: 65px;
}

#tab-8 > .tab8-content {
  margin-top: 10px;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
  height: 570px;
}

.tab8-search > .search-btn {
  text-align: center;
}

.tab8-search > .search-btn > button {
  cursor: pointer;
  border: 1px solid #888888;
  background-color: #bcbcbc;
  border-radius: 5px;
  width: 100px;
  height: 35px;
}

.tab8-content {
  margin-top: 10px;
  height: 440px;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
}

.tab8-content > .content-title {
  border-bottom: 1px solid #cdcdcd;
  padding: 15px 35px;
}

.tab8-content > .content-list > .list-title {
  border: 1px solid #cdcdcd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.tab8-content > .content-list > .list-content {
  border: 1px solid #cdcdcd;
  border-left: 0;
  border-right: 0;
  margin-top: 0;
  padding-top: 0;
}

.tab8-content > .content-list > .list-title {
  margin: 0;
  padding: 0;
}

.tab8-content > .content-list > .list-title > table,
.tab8-content > .content-list > .list-content > table {
  text-align: center;
  width: 100%;
}

.tab8-content > .content-list > .list-title > table td,
.tab8-content > .content-list > .list-content > table td {
  width: 12.5%;
  height: 40px;
  line-height: 40px;
}
