@charset "UTF-8";
body{
  background-color: rgb(246,246,246);
}
/*.myp-wrapper{
 
width:  943px;

}
*/
.myp-div1{
margin-top : 10px;
margin-bottom : 30px;
border: 2px solid #eee;
text-align: center;
font-size: 13px;
padding: 10px;
background-color:  #fafafa;
/*  color: #666666;*/
}
.myp-div1>span{
font-weight: bold;
font-size: 14px;

}
.myp-div2{
 border: 1px solid #777; 
margin-top : 10px;
margin-bottom : 30px;
}
.myp-div2-d1{
	border-bottom: 1px solid #fafafa;
	background-color: #e8e8e8;
	/* height: 18px; */
	padding: 11px 21px;
}
.myp-div2-d1>h3{
font-size: 13px;
margin: 0px;
color : #666;

}
.myp-div2-d2{
	overflow: hidden;
	padding: 19px 0;
/* 	border: 1px solid black; */
	background-color: #fafafa;
	text-align: center;
	padding-bottom: 2px;
	
}
.myp-div2-d2-ul1{
	width: 75%;
	padding: 0px;
}
.myp-div2-d2-ul1>li{
	list-style: none;
	float: left;
	width: 33%;
	text-align: center;
	border-right: 1px dotted #c9c7ca; 
}
.myp-div2-d2-ul1>li>a{
	font-weight: bold;
	font-size: 24px;
	color: #666;
}
.myp-div2-d2-ul2{
	margin-top: 10px;
	float: left;
	width: 24.5%;
	height: 100%;
	padding-left: 0px;
	padding-top:0px;
	padding-bottom:30px;
}
.myp-div2-d2-ul2>li{
	font-size: 13px;
	list-style: none;
	font-weight: bold;
}

.myp-div3{
margin: 50px 0 0 ;
/* border: 1px solid black;  */
}
.myp-div3-ul{
	text-align: center;
		overflow: hidden;
/* border: 1px solid black;  */
padding-left: 0px;
}
.myp-div3-ul>li>h3>img{
	width: 45px;
	height: 50px;
	
}
.myp-div3-ul>li>h3{
margin-top:40px;
	
}
.myp-div3-ul>li{
	/* padding: 40px 10px; */
margin : 0px 0px 20px 30px;
width : 200px;
float:left;
height:200px;
border-radius: 15px;
/* border: 1px solid black;  */
list-style: none;
border: 2px solid #e8e8e8;
}
.myp-div3-ul>li>h3>a{
	text-decoration: none;
	color: #666666;
}
.myp-div3-ul>li>pre{
	font-size: 11px;
	color:  black;
/* font-weight: bold;  */ 
}
.myp-div3-ul>li>p{
	font-size: 11px;
	color: #999999;
	/* font-weight: bold; */
}
.myPage-main{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90vh;
}