@charset "UTF-8";
        *{
            text-decoration: none;
        }
        .windowContainer{
            width: 943px;
            box-sizing: border-box;
        }
        .sub-main{
            padding: 20px 10px;
/*            border: 5px solid black;*/
            position: relative;
        }
        .sub-title{
        	padding-top:10px;
        }
        .sub-top{
        	float : right;
        	font-size: 13px;
        }
        .window-cloths{
            width: 25%;
           /* height: 250px;*/ /* 수정 처리  오류가 있어서 이부분 필요가 없어서 삭제 합니다.*/  
        }
        .window-cloths img {
             width: 100%;
        }
        .cloths-img{
        	width: 215px;
        }
        .cloths-img>img{
            width: 100%;
        }
        .window{
            display: flex;
        }
        .title-top,.title-bottom,.cloths-review{
            text-align: right;
        }
        .title-text>h3{
            font-size: 18px;
            padding-left: 40px;
        }
        .cloths-title,.cloths-price,.cloths-color{
            padding: 5px 0px;
        }
        .cloths-title{
            font-size: 12px;        
        }
        .cloths-title a{
             color: #555555;
        }
        .cloths-review{
            font-size: 11px;
        }
        .subCategory{
            display: flex;
        }
        .subCategory{
            list-style: none;          
        }
        .subCategory>li{
            padding-right: 15px;
            padding-top : 20px;
            font-size: 13px;
            padding-left: 0px;
        }
        .subCategory>li a{
            color: #000000;      
        }
        .cloths-new{
            float: left;
        }
        .imgs>img{
            width: 40px;
            height: 15px;
            margin-left: 6px;
        }
        .window-cloths{
            padding: 10px;
            padding-top:130px;
        }
        .color1{
            border: 0.1px solid #aaa;
            width: 10px;
            height: 10px;
        }        
        .cloths-color{
            display: flex;
        }
        .cloths-price span{
            padding-right: 10px;
            font-size: 12px;
        }
        .cloths-color>div{
            margin: 0px 3px 5px 0px;
        }
        .cloths-new{
            border-top: 1px solid black;
            padding-top: 5px;
        }
        .cate-window{
            display: flex;
            margin-top: 30px;
        }
        .move{
/*            border: 5px solid black;*/
            text-align: center;
        }
        .move img{
          position: relative;
          top: 5px;
        }